
<%- include("partials/header"); %>

    <h1>welcome</h1>
    <h2>this is a successful expriment</h2>
    <a role="button" name="register" href="/student/register">register</a>
    <a role="button" name="login" href="/student/login">login</a>
<a href="/checkoutpass">checkoutpass</a>
<a href="/warden/register">wardenregister</a>

<a href="/warden/login">warden login</a>
 <%- include("partials/footer"); %>   