<%- include("partials/header"); %>
<h1>welcome</h1>
<form action="/warden/register" method="post">
    <% errors.forEach(function(error){ %>
    <p><%= error %></p><br>
    <% }); %>
    hostel name:<input type="text" name="username">
    staff id:<input type="text" name="staffid">
    password:<input type="password" name="password">
    <button type="submit">Submit</button>
</form>
<%- include("partials/footer"); %>
